{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    <h1>Modifier le mot de passe</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form class="form-fieldset" method="POST">
        <label class="form-label" for="current_password">Mot de passe actuel :</label>
        <div class="mb-3 input-group input-group-flat">
            <input type="password" class="form-control required" id="current_password" name="current_password"
                   required/>
            <span class="input-group-text">
                <a href="#" class="input-group-link toggle-password">
                    <i class="fs-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="icon icon-tabler icons-tabler-outline icon-tabler-eye"><path stroke="none"
                                                                                                 d="M0 0h24v24H0z"
                                                                                                 fill="none"/><path
                                d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"/><path
                                d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"/></svg>
                    </i>
                </a>
            </span>
        </div>
        <label class="form-label" for="new_password">Nouveau mot de passe :</label>
        <div class="mb-3 input-group input-group-flat">
            <input type="password" class="form-control required" id="new_password" name="new_password" required>
            <span class="input-group-text">
                <a href="#" class="input-group-link toggle-password">
                    <i class="fs-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="icon icon-tabler icons-tabler-outline icon-tabler-eye"><path stroke="none"
                                                                                                 d="M0 0h24v24H0z"
                                                                                                 fill="none"/><path
                                d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"/><path
                                d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"/></svg>
                    </i>
                </a>
            </span>
        </div>
        <label class="form-label" for="confirm_new_password">Confirmez le nouveau mot de passe :</label>
        <div class="mb-3 input-group input-group-flat">
            <input type="password" class="form-control required" id="confirm_new_password" name="confirm_new_password"
                   required>
            <span class="input-group-text">
                <a href="#" class="input-group-link toggle-password">
                    <i class="fs-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="icon icon-tabler icons-tabler-outline icon-tabler-eye"><path stroke="none"
                                                                                                 d="M0 0h24v24H0z"
                                                                                                 fill="none"/><path
                                d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"/><path
                                d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"/></svg>
                    </i>
                </a>
            </span>
        </div>
        <button class="btn btn-primary" type="submit">Modifier le mot de passe</button>
    </form>

    <script>
        document.querySelectorAll('.toggle-password').forEach(toggle => {
            toggle.addEventListener('click', function (e) {
                e.preventDefault();  // Prevent the link from navigating

                // Find the closest input field within the same input group
                const passwordInput = this.closest('.input-group').querySelector('input');

                // Toggle the input type between "password" and "text"
                passwordInput.type = passwordInput.type === 'password' ? 'text' : 'password';
            });
        });
    </script>
{% endblock %}