{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <h1>Welcome to {{ title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="table table-responsive">
            <table class="table table-vcenter">
                <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Titre</th>
                    <th>Événement</th>
                    <th>Prix</th>
                    <th>Type</th>
                    <th>Catégorie</th>
                    <th>Source</th>
                    <th>Date de création</th>
                    <th>Raison d'annulation</th>
                </tr>
                </thead>
                <tbody>
                {% for row in data %}
                    <tr>
                        <td>{{ row["number"] }}</td>
                        <td>{{ row["title"] }}</td>
                        <td>{{ row["event_name"] }}</td>
                        <td>{{ row["price_amount"] }} {{ row["price_currency"] }}</td>
                        <td>{{ row["type"] }}</td>
                        <td>{{ row["category"] }}</td>
                        <td>{{ row["promoter"] }}</td>
                        <td>{{ row["generated_at"] }}</td>
                        <td>{{ row["cancellation_reason"] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-body">
                <div id="chart" class="chart-lg"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-body">
                <div id="chart-demo-line" class="chart-lg"></div>
            </div>
        </div>
    </div>
    <script>
        var options = {
          chart: {
            type: 'line'
          },
          series: [{
            name: 'sales',
            data: {{ chart_sales|tojson }}
          }],
          xaxis: {
            categories: {{ chart_categories|tojson }}
          }
        }

        var chart = new ApexCharts(document.querySelector("#chart"), options);

        chart.render();
        </script>
{% endblock %}